@import "./colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-image: linear-gradient(to bottom, #bde2fd, #b4defd, #abdbfd, #a2d7fe, #99d3fe, #9ad4fe, #9bd4ff, #9cd5ff, #a8daff, #b3dfff, #bee3ff, #c9e8ff);
    // background-image: linear-gradient(to bottom, #abdbff, #a4d8ff, #9dd5ff, #96d2ff, #8fcfff, #91d0ff, #92d0ff, #94d1ff, #9fd6ff, #a9daff, #b4dfff, #bee3ff);
    // background-image: linear-gradient(to right bottom, #abdbff, #a0d6ff, #94d1ff, #88ccff, #7bc7ff);
    background-color: $light;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.fade-in-sectionleft {
    opacity: 0;
    transform: translateX(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}
.fade-in-sectionleft.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.fade-in-sectionright {
    opacity: 0;
    transform: translateX(-20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}
.fade-in-sectionright.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.fade-in-sectionup {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}
.fade-in-sectionup.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.fade-in-sectiondown {
    opacity: 0;
    transform: translateY(-20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}
.fade-in-sectiondown.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}
