@import "../../../colors";

.calendar {
    min-height: $pageHeight;
    &__container {
        margin: 3em 5em 0em 5em;
    }
    @media screen and (max-width: 800px) {
        &__container {
            margin: 3em 1em 0em 1em;
        }
    }
}

.event {
    background-color: $dark;
    padding: 3px 0px;
}
