@import "../../colors";

.about {
    position: relative;
    width: 100vw;
    min-height: $pageHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    margin-bottom: 5em;
    &__container {
        position: relative;
        border: solid rgba(0, 0, 0, 0.9);
        border-radius: 1em;
        box-shadow: 0px 0px 40px 20px rgba(255, 255, 255, 0.2);
        &__alma {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            max-height: 90vh;
            max-width: 95vw;
            opacity: 0.5;
            z-index: 0;
        }
    }
    &__image {
        z-index: 1;
        display: flex;
        justify-content: center;
    }
    &__content {
        padding: 0 1em;
        border-radius: 0.9em;
        z-index: 5;
        opacity: 0.9999999;
        background-color: $light;
        box-shadow: inset 10px 0 120px rgba(0, 0, 0, 0.1), inset -10px 0 120px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__title {
        font-size: 5em;
        padding: 35px;
        color: $lightest;
        font-weight: bold;
        text-align: center;
        text-shadow: 0.6px 0.6px 2px $dark;
    }
    &__text {
        width: 75vw;
        max-width: 1080px;
    }
    &__button {
        width: 5em;
        height: 2em;
        background-color: $lightest;
        border-radius: 1em;
        box-shadow: 1px 1px 2px 0px $darkish;
        transition: 0.3s;
        margin: 1em;
        color: black;
        &__text {
            text-align: center;
            vertical-align: middle;
            font-weight: 600;
            line-height: 2em;
        }
        &__spacing {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 1em;
        }
    }
    &__button:hover {
        background-color: $dark;
        color: white;
        box-shadow: 1px 1px 4px 0px $darkish;
    }
}
@media screen and (max-width: 850px) {
    .about {
        &__container {
            border-style: none;
            &__alma {
                display: none;
                // top: 25%;
                // transform: translate(0, -80%);
            }
        }
        &__content {
            background-color: rgba(0, 0, 0, 0);
        }
        &__text {
        }
    }
}
