@import "../../colors";

.title{
    color: $lightest;
    font-size: 3em;
}

.project-page{
    width: 100vw;
    height: $pageHeight;
    background-color: $light;
    overflow: hidden;
}

.projects {
    &__single-project {
        width: 80%;
        height: 25em;
        background-color: $darkest;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        &__info {
            &__title {
                text-align: center;
                font-size: 2em;
                font-weight: 700;
                color: $lightest;
            }
            &__date{
                position: relative;
                top: -.6em;
                text-align: center;
                font-style: italic;
                font-size: .75em;
                font-weight: 400;
                color: $light;
            }
            &__description {
                text-align: center;
                font-size: 1.15em;
                font-weight: 500;
                color: $light;
            }
        }
        &__img {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            img {
                max-height: 7em;
            }
        }
    }
}
