@import "../../colors";

.project-page {
    width: 100vw;
    background-color: $light;
    overflow: hidden;
    padding-bottom: 3em;
    &__title {
        color: $lightest;
        text-align: center;
        font-size: 3em;
        position: relative;
        margin: 1em;
        font-weight: 700;
        text-shadow: 0.6px 0.6px 2px $dark;
    }
}

.projects {
    &__single-project {
        position: relative;
        width: 80%;
        height: 25em;
        background-color: $darkest;
        border-radius: 1em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        &__info {
            &__title {
                text-align: center;
                font-size: 2em;
                font-weight: 600;
                color: $lightest;
                
            }
            &__date {
                position: relative;
                top: -0.6em;
                text-align: center;
                font-style: italic;
                font-size: 0.75em;
                font-weight: 400;
                color: $light;
            }
            &__description {
                text-align: center;
                margin-top: 1em;
                font-size: 1.15em;
                font-weight: 500;
                color: $light;
            }
        }
        &__img {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            margin-top: 1em;
            img {
                max-height: 7em;
            }
        }
    }
}
